body {
    margin: 0;
    padding: 0;
    
}

.title-page {
    background: url(rapping.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200vh;
}

.fallhard {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: red;
    margin: 10px;
    padding: 10px;

}

#navigation {
    background-color: black;
    height: 100px;
    
}


.topnav a {
    display: inline-block;
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    float: right;
    margin: 5px;
    padding: 5px;
}

.socialnav i {
    font-size: 2rem;
    color: red;
    margin-top: 50px;
    padding: 5px;
    float: right;
}

p {
    width: 500px;
    font-size: 25px;
    color: whitesmoke;
    margin-top: 300px;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;

}