* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



ul a {
    color: red;
    font-family: 'Bebas Neue';
    text-decoration: none;
}

.navlist li {
    color: red;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.socialnav a {
    color: red;
    margin: 2px;
    padding: 2px;

}



.parent {
    background: url(rapping.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200vh;
    width: 100vw;
}

#fallhard {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: red;
    margin: 10px;
    padding: 10px;

}

#union {
    font-size: 40px;
    font-weight: bolder;
}




h2 {
    color: red;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
}

p {
    width: 500px;
    font-size: 25px;
    color: whitesmoke;
    margin-top: 500rem;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;

}

#vids {
    font-size: 40px;
    font-weight: bolder;

}

.video-links {
    margin: 130px;
}